.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

@media only screen and(max-width: $tablet){
    .container{
        max-width: 719px;
        margin: 0 auto;
        padding: 0 15px;
    }
}
@media only screen and(max-width: $mobile){
    .container{
        max-width: 357px;
        margin: 0 auto;
        padding: 0 20px;
    }
}